h2{
    text-align: center;
    color: blue;
    width: 50%;
}
table {
    border: 1px black solid;
    width: 50%;
    border-collapse: collapse;
}
td, th{
    border: 1px solid gray;
}
th{
    text-align: center;
    background-color: yellow;
}